<div class="row">
  <div class="col s12 l12 m12">
    <h4>Pré-Requisitos</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l12 m12">
    <textarea id="txt_customizacao" class="materialize-textarea"></textarea>
    <label for="textarea1">Pré-Requisitos Técnicos do Projeto</label>
  </div>
</div>

<div class="row">
  <div class="col s12 l12 m12">
    <h4>Pontos Críticos</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l12 m12">
    <textarea id="txt_customizacao" class="materialize-textarea"></textarea>
    <label for="textarea1">Pontos Críticos do Projeto</label>
  </div>
</div>