<div class="row">
  <div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="material-icons col">av_timer</i>
          Registrar Atividade
        </div>
        <div class="collapsible-body">

          <app-cadastro-atividade></app-cadastro-atividade>

        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons col">timeline</i>
          Minhas Atividades
        </div>
        <div class="collapsible-body">
          
          <app-historico-atividade></app-historico-atividade>

        </div>
      </li>
    
    </ul>
  </div>
</div>