<div class="container">

  <ul class="tabs">
    <li class="tab col s3">
      <a  href="#tabsHistoricoAtividade">Minhas Atividades</a>
    </li>
    <li class="tab col s3">
      <a class="active" href="#tabsNovaAtividade">Nova Atividade</a>
    </li>
  </ul>

  <!-- TABS 1 -->
  <div id="tabsHistoricoAtividade" class="col s12">
    <div class="card">
      <app-historico-atividade></app-historico-atividade>
    </div>
  </div>

  <!-- TABS 2 - Cadastro de Projeto -->
  <div id="tabsNovaAtividade" class="col s12">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="material-icons col">av_timer</i>
          Registrar Atividade
        </div>
        <div class="collapsible-body">

          <app-cadastro-atividade></app-cadastro-atividade>

        </div>
      </li>
    </ul>
  </div>
</div>