<ul id = "dropdown" class = "dropdown-content">
    <li><a href = "#">Inbox<span class = "badge">12</span></a></li>
    <li><a href = "#!">Unread<span class = "new badge">4</span></a></li>
    <li><a href = "#">Sent</a></li>
    <li class = "divider"></li>
    <li><a>Outbox<span class = "badge">14</span></a></li>
 </ul>
  
    
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo white-text"><h5>{{title}}</h5></a>
    <a materialize="sideNav" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="projeto">Projetos</a></li>
      <li><a routerLink="servico-atividade">Atividades</a></li>
      <li><a routerLink="horas-extras">Horas Extras</a></li>
      <li><a routerLink="relatorio">Relatórios</a></li>
      <li><a class="dropdown-button" (click)="interageMenu()" data-activates="dropdown1">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="waves-effect">Produtos</a></li>
        <li class = "divider"></li>
        <li><a class="waves-effect">Clientes e Empresas</a></li>
        <li><a class="waves-effect">Contatos</a></li>
        <li class = "divider"></li>
        <li><a class="waves-effect">Usuários</a></li>
        <li><a class="waves-effect">Perfil de Usuário</a></li>
        <li class = "divider"></li>
        <li><a class="waves-effect">Setores</a></li>
        <li><a class="waves-effect">Departamentos</a></li>
        <li><a class="waves-effect">Tipos de Departamentos</a></li>
      </ul>   
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="projeto">Projetos</a></li>
      <li><a>Atividades</a></li>
      <li><a>Horas Extras</a></li>
      <li><a>Relatórios</a></li>
      <li><a>Cadastros</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background">
      <img src="./assets/fundo.png" style="width:100%;">
    </div>
    <a href="#!user"><img class="circle" src="./assets/perfil-padrao.png"></a>
    <a href="#!name"><span class="white-text name">Gabriel Santos</span></a>
    <a href="#!email"><span class="white-text email">gsantos@ddcom.com.br</span></a>
  </div></li>
  <ul data-activates="slide-out" (click)="esconderSideNav">
  <li><a class="waves-effect" routerLink="projeto"><i class="material-icons">work</i>Projetos</a></li>
  
  <li><a class="waves-effect" routerLink="servico-atividade"><i class="material-icons">description</i>Atividades</a></li>
  <li><a class="waves-effect" routerLink="horas-extras"><i class="material-icons">watch_later</i>Horas Extras</a></li>
  <li><a class="waves-effect" routerLink="relatorio"><i class="material-icons">folder</i>Relatórios</a></li>
  <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons">create_new_folder</i>Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
       
      </ul>
  <li><a class="divider"></a></li>
  <li><a><i class="material-icons">power_settings_new</i>Sair</a></li>
  </ul>
</ul>
