<ul id="dropdown-mob-relatorios" class="dropdown-content">
  <li>
    <a>
      <i class="material-icons left">error</i>Sem Relatórios</a>
  </li>
</ul>

<ul id="dropdown-diversos" class="dropdown-content">
  <li>
    <a routerLink="departamento" class="dd-color">
      <i class="material-icons prefix dd-black">domain</i>Departamentos</a>
  </li>
  <li>
    <a routerLink="setor" class="dd-color">
      <i class="material-icons prefix dd-black">device_hub</i>Setores</a>
  </li>

  <li class="divider"></li>
  <li>
    <a routerLink="empresa" class="dd-color">
      <i class="material-icons prefix dd-black">business_center</i>Empresas</a>
  </li>
  <li>
    <a routerLink="contato" class="dd-color">
      <i class="material-icons prefix dd-black">contacts</i>Contatos</a>
  </li>

  <li class="divider"></li>

  <li>
    <a routerLink="produto" class="dd-color">
      <i class="material-icons prefix dd-black">phonelink_setup</i> Produtos</a>
  </li>
  <li>
    <a routerLink="apps" class="dd-color">
      <i class="material-icons prefix dd-black">add_to_home_screen</i>Aplicativos</a>
  </li>

  <li class="divider"></li>

  <li>
    <a routerLink="profissional" class="dd-color">
      <i class="material-icons prefix dd-black">supervised_user_circle</i>Profissionais</a>
  </li>
  <li>
    <a routerLink="usuario" class="dd-color">
      <i class="material-icons prefix dd-black">supervisor_account</i>Usuários</a>
  </li>
  <li>
    <a routerLink="permissao" class="dd-color">
      <i class="material-icons prefix dd-black">security</i>Permissões</a>
  </li>
</ul>


<nav class="nav-extended">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo white-text">
      <h5>{{title}}</h5>
    </a>
    <a materialize="sideNav" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="projeto">
          <i class="material-icons left">devices</i>Projetos</a>
      </li>
      <li>
        <a routerLink="atividade">
          <i class="material-icons left">assignment_turned_in</i>
          Atividades
        </a>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown-mob-relatorio">
          <i class="material-icons left">assignment</i>
          Relatórios
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <ul id="dropdown-mob-relatorio" class="dropdown-content">
        <li>
          <a>
            <i class="material-icons left">error</i>Sem Relatórios</a>
        </li>
      </ul>
      <li>
        <a class="dropdown-button" data-activates="dropdown-diverso">
          <i class="material-icons left">settings</i>
          Gerenciamento
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <ul id="dropdown-diverso" class="dropdown-content">
        <li>
          <a routerLink="departamento" class="dd-color">
            <i class="material-icons prefix dd-black">domain</i>Departamentos</a>
        </li>
        <li>
          <a routerLink="setor" class="dd-color">
            <i class="material-icons prefix dd-black">device_hub</i>Setores</a>
        </li>

        <li class="divider"></li>
        <li>
          <a routerLink="empresa" class="dd-color">
            <i class="material-icons prefix dd-black">business_center</i>Empresas</a>
        </li>
        <li>
          <a routerLink="contato" class="dd-color">
            <i class="material-icons prefix dd-black">contacts</i>Contatos</a>
        </li>

        <li class="divider"></li>

        <li>
          <a routerLink="produto" class="dd-color">
            <i class="material-icons prefix dd-black">phonelink_setup</i> Produtos</a>
        </li>
        <li>
          <a routerLink="apps" class="dd-color">
            <i class="material-icons prefix dd-black">add_to_home_screen</i>Aplicativos</a>
        </li>

        <li class="divider"></li>

        <li>
          <a routerLink="profissional" class="dd-color">
            <i class="material-icons prefix dd-black">supervised_user_circle</i>Profissionais</a>
        </li>
        <li>
          <a routerLink="usuario" class="dd-color">
            <i class="material-icons prefix dd-black">supervisor_account</i>Usuários</a>
        </li>
        <li>
          <a routerLink="permissao" class="dd-color">
            <i class="material-icons prefix dd-black">security</i>Permissões</a>
        </li>
      </ul>
    </ul>
  </div>
</nav>


<!--Menu Mobile-->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="./assets/fundo.png" style="width:100%;">
      </div>
      <a href="#!user">
        <img class="circle" src="./assets/perfil-padrao.png">
      </a>
      <a href="#!name">
        <span class="white-text name">Gabriel Santos</span>
      </a>
      <a href="#!email">
        <span class="white-text email">gsantos@ddcom.com.br</span>
      </a>
    </div>
  </li>
  <ul data-activates="slide-out" (click)="esconderSideNav">
    <li>
      <a class="waves-effect dd-color" routerLink="projeto">
        <i class="material-icons dd-black">work</i>Projetos</a>
    </li>
    <li>
      <a class="waves-effect" routerLink="atividade">
        <i class="material-icons">description</i>Atividades</a>
    </li>
    <li>
      <a class="dropdown-button" data-activates="dropdown-mob-relatorios">
        <i class="material-icons">create_new_folder</i>Relatórios
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li>
      <a class="dropdown-button" data-activates="dropdown-diversos">
        <i class="material-icons">folder</i>Gerenciar
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
  </ul>
</ul>