<!--App do modal-->
<!--Modal-->
<div class="container">
  
    <ul class="tabs">
      <li class="tab col s3">
        <a class="active" href="#tabsConsultaProjetos">Profissionais</a>
      </li>
      <li class="tab col s3">
        <a href="#tabsNovoProjeto">Novo Colaborador</a>
      </li>
    </ul>

    <!-- TABS 1 -->
    <div id="tabsConsultaProjetos" class="col s12">
      <div class="card">
        <app-consulta-profissional></app-consulta-profissional>
      </div>
    </div>
    <!-- TABS 2 -->
    <div id="tabsNovoProjeto" class="col s12">

      <ul class="collapsible" data-collapsible="accordion">

        <!--1º Passo-->
        <li>
          <div class="collapsible-header active">
            <i class="material-icons col">add_to_home_screen</i>

            Registrar um Profissional
          </div>
          <div class="collapsible-body">
              <app-cadastro-profissional></app-cadastro-profissional>
          </div>
        </li>
      </ul>
    </div>
</div>