<!--App do modal-->
<!--Modal-->

<div id="modal1" class="modal">
  <div class="modal-content">

    <div class="row">
      <div class="col s12 l12 m12">
        <h4 class="center-align">Solicitação de Serviço</h4>
        <div class="divider"></div>
      </div>
      <div class="col s5 l3 m3">
        <label for="txt_dataInicio">Data Inicial</label>
        <input type="text" value="00/00/0000" readonly>
      </div>
      <div class="col s5 l3 m3">
        <label for="txt_dataInicio">Data Final</label>
        <input type="text" value="00/00/0000" readonly>
      </div>
      <div class="col s12 l6 m6">
        <label for="txt_dataInicio">Responsável ddCom</label>
        <input type="text" value="Comercial - Fulano" readonly>
      </div>
      <div class="col s12 l6 m6">
        <label for="txt_dataInicio">Cliente</label>
        <input type="text" value="Atento - SBC" readonly>
      </div>
      <div class="col s12 l6 m6">
        <label for="txt_produto_resumo">Contatos</label>
        <div class="divider"></div>
        <div class="card">
          <div class="card-content">
            <p>4002-8922</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="col s12 l12 m12">
        <label for="txt_dataInicio">Projeto</label>
        <input type="text" value="Nome do Projeto Mega Extenso - Atento" readonly>
      </div>
        <div class="divider"></div>
      
      <div class="col s12 l12 m12">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">folder_open</i>
                Escopo Inicial
                <span class="badge"></span>
              </div>
              <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="col s12 l6 m6">
        <label for="txt_dataInicio">Tipo de Serviço</label>
        <input type="text" value="Adequação" readonly>
      </div>

      <div class="col s12 l6 m6">
        <label for="txt_produto_resumo">Produto</label>
        <input type="text" id="txt_produto_resumo" value="Mercury v2" readonly>
      </div>

      <div class="col s12 l12 m12">
        <label for="txt_produto_resumo">Aplicações</label>
        <div class="divider"></div>
      </div>
      <div class="col s12 l12 m12">
        <div class="container">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">code</i>
                App
                <span class="badge"></span>
              </div>
              <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="input-field col s12 l12 m12">
        <div class="card">
          <div class="card-title">
            <h6>Outros Serviços</h6>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn modal-close waves-effect waves-light padrao-background" (click)="pegaDado()" type="submit" name="btn_enviarProjeto">
      Editar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>

<div class="container form-responsive">
  <ul class="tabs">
    <li class="tab col s3">
      <a href="#test1">Projetos</a>
    </li>
    <li class="tab col s3">
      <a class="active" href="#test2">Novo Projeto</a>
    </li>
  </ul>
  <div id="test1" class="col s12">
    <div class="card">
      <div class="input-field col s6 s12 red-text">
        <i class="red-text material-icons prefix">search</i>
        <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
      </div>
      <table class="responsive-table bordered striped centered highlight">
        <thead>
          <tr>
            <th>Projeto</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>Início</th>
            <th>Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Projeto KeyStone</td>
            <td>KeyStone</td>
            <td>Condomínio X</td>
            <td>11/05/2018</td>
            <td class="centered">
              <a class="modal-trigger" href="#modal1">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div id="test2" class="col s12">

    <ul class="collapsible" data-collapsible="accordion">

      <!--1º Passo-->
      <li>
        <div class="collapsible-header active">
          <i class="material-icons col">perm_device_information</i>

          Projeto
        </div>
        <div class="collapsible-body">

          <app-cadastro-projeto></app-cadastro-projeto>

        </div>
      </li>


      <!--2º Passo-->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">phonelink_setup</i>
          Produto e Customizações
        </div>
        <div class="collapsible-body">
          <!--Colocar modulo de Produtos e Aplicativos de Projeto-->
          <app-cadastro-produto-projeto></app-cadastro-produto-projeto>
        </div>
      </li>


      <!--3º Passo-->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">device_unknown</i>
          Pré-Requisitos e Pontos Críticos
        </div>
        <div class="collapsible-body">
          <!--Colocar modulo de Pré-Requisitos e Pontos Críticos de Projeto-->
          <app-cadastro-requisitos-projeto></app-cadastro-requisitos-projeto>
        </div>
      </li>


      <!--4º Passo-->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">mobile_friendly</i>
          Resumo
        </div>
        <div class="collapsible-body">
          <!--Colocar modulo de Resumo do Projeto-->
          <app-cadastro-resumo-projeto></app-cadastro-resumo-projeto>
        </div>
      </li>
    </ul>
  </div>
</div>