<div class="row">
  <div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons col">group</i>
          Empresas/Clientes
        </div>
        <div class="collapsible-body">

          <app-consulta-empresa></app-consulta-empresa>

        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons col">group_add</i>
          Cadastrar Nova Empresa
        </div>
        <div class="collapsible-body">

          <app-cadastro-empresa></app-cadastro-empresa>

        </div>
      </li>
    </ul>
  </div>
</div>