<div class="container">

  <ul class="tabs">
    <li class="tab col s3">
      <a class="active" href="#tabsHistoricoAtividade">Clientes</a>
    </li>
    <li class="tab col s3">
      <a href="#tabsNovaAtividade">Novo Cliente</a>
    </li>
  </ul>

  <!-- TABS 1 -->
  <div id="tabsHistoricoAtividade" class="col s12">
    <div class="card">
      <app-consulta-empresa></app-consulta-empresa>
    </div>
  </div>

  <!-- TABS 2 - Cadastro de Projeto -->
  <div id="tabsNovaAtividade" class="col s12">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="material-icons col">av_timer</i>
          Cadastrar Empresa
        </div>
        <div class="collapsible-body">

          <app-cadastro-empresa></app-cadastro-empresa>

        </div>
      </li>
    </ul>
  </div>
</div>