<div class="form-responsive">
  <div class="row">
    <div class="col s12 l12 m12">
      <h4 class="center-align">Atividade</h4>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 offset-l2 l8 offset-m1 m10">
      <i class="material-icons prefix">spellcheck</i>
      <select multiple>
        <option value="0" disabled selected>Selecione a Atividade</option>
        <option value="1">Desenvolvimento</option>
        <option value="2">Reunião</option>
        <option value="3">Visita Cliente</option>
        <option value="4">Outros</option>
      </select>
    </div>

    <div class="input-field col s12 offset-l2 l8 offset-m1 m10">
      <i class="material-icons prefix">work</i>
      <select>
        <option value="0" disabled selected>Selecione o Projeto</option>
        <option value="1">Projeto X</option>
        <option value="2">Projeto P</option>
        <option value="3">Projeto T</option>
        <option value="4">Projeto O</option>
      </select>
    </div>

    <div class="col s12 offset-l2 l8 offset-m1 m10">
      <h6 class="left-align">Data</h6>
      <div class="divider"></div>
    </div>
    <div class="input-field col s6  offset-l3 l3 offset-m2 m4">
      <i class="material-icons prefix">calendar_today</i>
      <input id="dt_inicial" type="text" (click)="clickDate()" class="datepicker">
      <label for="dt_inicial" data-success="">Início</label>
    </div>
    <div class="input-field col s6 l3 m4">
      <i class="material-icons prefix">today</i>
      <input type="text" (click)="clickDate()" class="datepicker">
      <label for="Data de Término(Previsto)" data-success="">Fim</label>
    </div>


    <div class="col s12 offset-l2 l8 offset-m1 m10">
      <h6 class="left-align">Hora</h6>
      <div class="divider"></div>
    </div>
    <div class="input-field col s6 offset-l3 l3 offset-m2 m4">
      <i class="material-icons prefix">access_time</i>
      <input id="hr_inicial" type="text" class="timepicker active">
      <label for="hr_inicial" data-success="">Começo</label>
    </div>
    <div class="input-field col s6 l3 m4">
      <i class="material-icons prefix">watch_later</i>
      <input id="hr_final" type="text" class="timepicker" readonly>
      <label for="hr_final">Término</label>
    </div>



    <div class="col s12 offset-l1 l10 offset-m1 m10">
      <h6 class="left-align">Descrição</h6>
      <div class="divider"></div>
    </div>
    <div class="input-field col s12 offset-l1 l10 offset-m1 m10">
      <div id="txt_atividade" [froalaEditor]></div>
    </div>

  </div>
  <div class="row">
    <div class="col s12 offset-l1 l10 m11">
      <button class="btn waves-effect waves-light right" type="submit" name="action">
        Confirmar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>