<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 l12 m12">
        <h4 class="center-align">XPTO</h4>
        <div class="divider"></div>
      </div>

      <div class="file-field input-field col s12 l3 m4">
        <div class="file-path-wrapper">
          <input type="file">
          <img class="circle" src="./assets/perfil-padrao.png">
        </div>
      </div>
      <div class="input-field col s12 l8 offset-m1 m10">
        <i class="material-icons prefix">location_city</i>
        <input type="text" id="nomeFantasia">
        <label for="nomeFantasia">Nome Fantasia</label>
      </div>

      <div class="input-field col s12  l8 offset-m1 m10">
        <i class="material-icons prefix">business</i>
        <input type="text" id="razaoSocial">
        <label for="razaoSocial">Razão Social</label>
      </div>

      <div class="row"></div>
      <div class="col s12 l12 m12">
        <h5 class="left-align">Contatos</h5>
        <div class="divider"></div>
      </div>
      <div class="input-field col s12 l4 m6">
        <i class="material-icons prefix">phone</i>
        <input type="text" id="razaoSocial">
        <label for="razaoSocial">Telefone</label>
      </div>
      <div class="input-field col s12 l8 m6">
        <i class="material-icons prefix">mail</i>
        <input type="text" id="razaoSocial">
        <label for="razaoSocial">E-mail</label>
      </div>
      <!--
        Adicionar Tags dos Contatos
      -->

      <div class="col s12 l12 m12">
        <h5 class="left-align">Localização</h5>
        <div class="divider"></div>
      </div>
      <div class="input-field col s6 l3 offset-m1 m4">
        <i class="material-icons prefix">my_location</i>
        <input [brmasker]="{mask:'00000-000', len:9}" (blur)="onBlurResgataCep()" id="cepEmpresa" type="text">
        <label for="cepEmpresa" data-error="wrong" data-success="right">CEP</label>
      </div>

      <div class="col offset-l9"></div>

      <div class="input-field col s9 l5 offset-m1 m8">
        <i class="material-icons prefix">location_on</i>
        <input type="text" placeholder=" " id="cidadeEmpresa" value="" readonly>
        <label for="cidadeEmpresa" class="active">Cidade</label>
      </div>

      <div class="input-field col s3 l1 m2">
        <input type="text" placeholder=" " id="ufEmpresa" value="" readonly>
        <label for="ufEmpresa" class="active">UF</label>
      </div>

      <div class="input-field col s12 l6 offset-m1 m8">
        <i class="material-icons prefix">location_on</i>
        <input type="text" placeholder=" " id="bairroEmpresa" value="" readonly>
        <label for="bairroEmpresa" class="active">Bairro</label>
      </div>

      <div class="input-field col s12 l6 offset-m1 m8">
        <i class="material-icons prefix">location_on</i>
        <input type="text" value=" " id="logradouroEmpresa" readonly>
        <label for="logradouroEmpresa" class="active">Logradouro</label>
      </div>

      <div class="input-field col s5 l2 m4">
        <i class="material-icons prefix">edit_location</i>
        <input type="text" id="numeroEmpresa">
        <label for="numeroEmpresa">nº</label>
      </div>

      <div class="input-field col s7 l4 m6">
        <input type="text" for="complementoEmpresa">
        <label for="complementoEmpresa">Complemento</label>

      </div>
      <div class="col s12 offset-l2 l8 offset-m1 m10 divider"></div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="col s12 offset-l2 l8 offset-m1 m10">
      <button class="btn modal-close waves-effect waves-light right padrao-background" (click)="pegaDado()" type="submit" name="btn_enviarProjeto">
        Editar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="input-field col s12 red-text">
    <i class="red-text material-icons prefix">search</i>
    <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
  </div>
  <div class="col s12 l12 m12">
    <table class="responsive-table bordered striped centered highlight">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>logo</td>
          <td>(11)4002-8922</td>
          <td>desatento@atento.com.br</td>

          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
        <tr>
          <td>logo</td>
          <td>(11)4002-8922</td>
          <td>escuro@claro.com.br</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
        <tr>
          <td>logo</td>
          <td>(11)4002-8922</td>
          <td>unibanco@itau.com.br</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>