<div class="row">
    <div class="input-field col s12 red-text">
      <i class="red-text material-icons prefix">search</i>
      <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
    </div>
    <div class="col s12 l12 m12">
      <table class="responsive-table bordered striped centered highlight">
        <thead>
          <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Detalhes</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Atento</td>
            <td>desatento@atento.com.br</td>
            <td>(11)4002-8922</td>
            <td class="centered">
              <a class="modal-trigger" href="#modal1">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Claro</td>
            <td>escuro@claro.com.br</td>
            <td>(11)8922-4002</td>
            <td class="centered">
              <a class="modal-trigger" href="#modal1">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Itaú</td>
            <td>unibanco@itau.com.br</td>
            <td>(11)4022-8902</td>
            <td class="centered">
              <a class="modal-trigger" href="#modal1">
                <i class="material-icons">remove_red_eye</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>