<!-- MODAL Detalhes/Edição Projetos -->
<div id="modalTeste" class="modal">

  <div class="modal-content">

    <div class="row">
      <div class="col s12 l12 m12">
        <h4>Profissional</h4>
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 l6 m6">
        <i class="material-icons prefix">add_to_home_screen</i>
        <input id="txt_nomeApp" type="text" name="txt_nomeApp">
        <label for="txt_nomeApp" class="active">Nome do Profissional</label>
      </div>
      <div class="input-field col s12 l6 m6">
        <i class="material-icons prefix">open_in_browser</i>
        <select name="slt_tipoApp" id="slt_produtoApp">
          <option value="">Desenvolvimento</option>
          <option value="">Suporte Técnico</option>
          <option value="">Comercial</option>
        </select>
        <label for="slt_produtoApp">Setor</label>
      </div>
      <div class="input-field col s12 l6 l5 m6">
        <i class="material-icons prefix">phonelink_setup</i>
        <select name="slt_produtoApp" id="slt_produtoApp">
          <option value="">Programador Sênior</option>
          <option value="">Programador Pleno</option>
          <option value="">Programador Júnior</option>
          <option value="">Programador Trainee</option>
        </select>
        <label for="slt_produtoApp">Função</label>
      </div>

      <div class="col s12 l12 m12">
        <h5>Departamentos</h5>
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="col s12 l12 m12">
        <div class="input-field col s9 offset-l2 l7 offset-m2 m7">
          <input id="txt_dptoApp" class="align-center" type="text" name="txt_dptoApp">
          <label for="txt_dptoApp">Inserir departamento</label>
        </div>
        <div class="input-field col s2 l2 m2">
          <a class="btn-floating left btn-small waves-effect waves-light" type="submit" name="action">
            <i class="material-icons">add</i>
          </a>
        </div>
        <div class="col s12 offset-l1 l10 offset-m1 m10">
          <table class="responsive-table centered striped centered highlight">
            <thead>
              <tr>
                <th>Departamento</th>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Operação Alpha Vita</td>
                <td>
                  <a class="modal-trigger" href="#modalTeste">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Operação CIAB</td>
                <td>
                  <a class="modal-trigger" href="#modalTeste">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light right" type="submit" name="action">
        Editar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

<!-- Corpo da Consulta de Projetos -->
<div class="input-field col s6 s12 red-text">
  <i class="red-text material-icons prefix">search</i>
  <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
</div>
<table class="responsive-table bordered striped centered highlight">
  <thead>
    <tr>
      <th>Profissional</th>
      <th>Setor</th>
      <th>Função</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gabriel Santos</td>
      <td>Desenvolvimento</td>
      <td>Programador Trainee
        <td>
          <a class="modal-trigger" href="#modalTeste">
            <i class="material-icons">remove_red_eye</i>
          </a>
        </td>
    </tr>
    <tr>
      <td>Gabriel Santos</td>
      <td>Desenvolvimento</td>
      <td>Programador Trainee
        <td>
          <a class="modal-trigger" href="#modalTeste">
            <i class="material-icons">remove_red_eye</i>
          </a>
        </td>
    </tr>
    <tr>
      <td>KSET3</td>
      <td>NomeApp3</td>
      <td>KeyStone Enterprise</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>MCRR4</td>
      <td>NomeApp4</td>
      <td>Mecury</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>