body{
    background-color:#e1e1e1;
}

.padrao-branco-background{

    background-color: #e1e1e1;
}

.padrao-background{

    background-color:#d11d32;
}

.padrao-color{
    color:#d11d32 ;
}

.padrao-claro-background{

    background-color:#de5d6c;;
}
.padrao-claro-color{

    color:#de5d6c;
}