<!--App do modal-->
<!--Modal-->
<div id="modal1" class="modal">
  <div class="modal-content">

    <app-cadastro-projeto></app-cadastro-projeto>

</div>
<div class="modal-footer">
    <button class="btn modal-close waves-effect waves-light padrao-background" (click)="pegaDado()" type="submit" name="btn_enviarProjeto">
      Editar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>

<div class="container form-responsive">
  <ul class="tabs">
    <li class="tab col s3">
      <a href="#test1">Projetos</a>
    </li>
    <li class="tab col s3">
      <a class="active" href="#test2">Novo Projeto</a>
    </li>
  </ul>
<div id="test1" class="col s12">

    <div class="input-field col s6 s12 red-text">
      <i class="red-text material-icons prefix">search</i>
      <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
    </div>
    <table class="responsive-table bordered striped centered highlight">
      <thead>
        <tr>
          <th>Cód.</th>
          <th>Projeto</th>
          <th>Produto</th>
          <th>Cliente</th>
          <th>Início</th>
          <th>Previsão</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Projeto KeyStone</td>
          <td>KeyStone</td>
          <td>Condomínio X</td>
          <td>11/05/2018</td>
          <td>23/12/2018</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
        <tr>
          <td>12</td>
          <td>Gerenciar Documentos e Atividades</td>
          <td>DDC Projects</td>
          <td>ddCom Systems</td>
          <td>14/05/2018</td>
          <td>25/12/2018</td>
          <td class="centered">
            <i class="material-icons">remove_red_eye</i>
          </td>
        </tr>
        <tr>
          <td>120</td>
          <td>Projeto Mercury</td>
          <td>Mercury Modificado</td>
          <td>Atento</td>
          <td>19/03/2018</td>
          <td>27/08/2018</td>
          <td class="centered">
            <i class="material-icons">remove_red_eye</i>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div id="test2" class="col s12">

    <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons col">perm_device_information</i>
        
          Projeto e Detalhamento
      </div>
      <div class="collapsible-body">

        <app-cadastro-projeto></app-cadastro-projeto>

      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">phonelink_setup</i>
          Produto(s) e Pré-Requisitos
      </div>
      <div class="collapsible-body">
        <!--Colocar modulo de Requisitos de Projeto-->
        <app-cadastro-produto-requisitos></app-cadastro-produto-requisitos>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">device_unknown</i>
          Pontos Críticos
      </div>
      <div class="collapsible-body">
        <!--Colocar modulo de Detalhamento de Projeto-->
        <app-cadastro-detalhamento></app-cadastro-detalhamento>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">mobile_friendly</i>
          Resumo
      </div>
      <div class="collapsible-body">
        <!--Colocar modulo de Resumo do Projeto-->
        <app-cadastro-resumo></app-cadastro-resumo>
      </div>
    </li>
  </ul>
</div>