<div class="row">
  <div class="col s12 l12 m12">
    <h4>Pré-Requisitos</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l12 m12">
    <div id="txt_pre_requisitos_tecnicos" [froalaEditor]></div>
  </div>
</div>

<div class="row">
  <div class="col s12 l12 m12">
    <h4>Pontos Críticos</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l12 m12">
    <div id="txt_pontos_criticos" [froalaEditor]></div>
  </div>
</div>