<!-- MODAL Detalhes/Edição Projetos -->
<div id="modalTeste" class="modal">

  <div class="modal-content">

    <div class="row">
      <div class="col s12 l12 m12">
        <h4>Aplicativo</h4>
        <div class="divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 offset-l1 l5 m6">
        <i class="material-icons prefix">add_to_home_screen</i>
        <input id="txt_nomeApp" type="text" name="txt_nomeApp">
        <label for="txt_nomeApp">Nome do Aplicativo</label>
      </div>
      <div class="input-field col s12 l5 m6">
        <i class="material-icons prefix">open_in_browser</i>
        <select name="slt_tipoApp" id="slt_produtoApp">
          <option value="" selected disabled>Selecione um Tipo de App</option>
          <option value="">Tela</option>
          <option value="">Relatório</option>
          <option value="">Dashboard</option>
        </select>
        <label for="slt_produtoApp">Tipo de App</label>
      </div>
      <div class="input-field col s12 offset-l1 l5 m6">
        <i class="material-icons prefix">phonelink_setup</i>
        <select name="slt_produtoApp" id="slt_produtoApp">
          <option value="" selected disabled>Selecione um Produto</option>
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
        <label for="slt_produtoApp">Produto</label>
      </div>
      <div class="input-field col s12 l5 m6">
        <i class="material-icons prefix">control_camera</i>
        <input id="txt_prefixoApp" class="align-center" value="KSST250" type="text" name="txt_prefixoApp" readonly>
        <label for="txt_prefixoApp" class="active">Prefixo do App</label>
      </div>


      <div class="col s12 l12 m12">
        <h5>Descrição do Aplicativo</h5>
        <div class="divider"></div>
      </div>
      <div class="row">
        <div class="input-field col s12 l12 m12">
          <div id="txt_descricaoProdutos" [froalaEditor]></div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light right" type="submit" name="action">
        Editar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

<!-- Corpo da Consulta de Projetos -->
<div class="input-field col s6 s12 red-text">
  <i class="red-text material-icons prefix">search</i>
  <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
</div>
<table class="responsive-table bordered striped centered highlight">
  <thead>
    <tr>
      <th>Prefixo</th>
      <th>Aplicativo</th>
      <th>Produto</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>KSST1</td>
      <td>NomeApp1</td>
      <td>KeyStone Security</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>KSST2</td>
      <td>NomeApp2</td>
      <td>KeyStone Security</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>KSET3</td>
      <td>NomeApp3</td>
      <td>KeyStone Enterprise</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
    <tr>
      <td>MCRR4</td>
      <td>NomeApp4</td>
      <td>Mecury</td>
      <td>
        <a class="modal-trigger" href="#modalTeste">
          <i class="material-icons">remove_red_eye</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>