<div class="row">
  <div class="col s12 l12 m12">
    <h4>Produto</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l6 m6">
    <i class="material-icons prefix">phonelink_setup</i>
    <select>
      <option value="0" disabled selected>Selecione um Produto</option>
      <option value="1">Produto 1</option>
      <option value="2">Produto 2</option>
      <option value="3">Produto 3</option>
      <option value="4">Produto 4</option>
      <option value="5">Produto 5</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col s12 l12 m12">
    <h4>Aplicativos</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
    <div class="input-field col s12 l12 m12">

      <i class="material-icons prefix">phonelink_setup</i>
      <select>
        <option value="0" disabled selected>Selecione um Aplicativo</option>
        <option value="1">Aplicativo 1</option>
        <option value="2">Aplicativo 2</option>
        <option value="3">Aplicativo 3</option>
        <option value="4">Aplicativo 4</option>
        <option value="5">Aplicativo 5</option>
      </select>
    </div>
    <div class="input-field col s12 l12 m12">
      <div id="txt_aplicativo" [froalaEditor]></div>

    </div>

  <div class="col offset-s8 offset-l10 offset-m9">
    <a class="btn btn-small">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div class="input-field col s12 l12 m12">
    <table class="responsive-table bordered centered striped highlight">
      <thead>
        <tr>
          <th>Aplicativo</th>
          <th>Customização</th>
          <th>Ver/Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MCRT001</td>
          <td>KeyStone modificado...</td>
          <td>
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col s12 l12 m12">
    <h4>Outros Serviços</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 l12 m12">
      <div id="txt_servicos" [froalaEditor]></div>
  </div>
</div>