<div class="row">
  <div class="input-field col s12 red-text">
    <i class="red-text material-icons prefix">search</i>
    <input type="text" placeholder="Pesquisar" id="autocomplete-input" class="autocomplete red-text">
  </div>
  <div class="col s12 l12 m12">
    <table class="responsive-table bordered striped centered highlight">
      <thead>
        <tr>
        <th>Data</th>
        <th>Projeto</th>
        <th>Atividade</th>
        <th>Detalhes</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/06/2018</td>
          <td>Xpto Project</td>
          <td>Desenvolvimento</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
        <tr>
          <td>31/05/2018</td>
          <td>Otpx Project</td>
          <td>Reunião</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
        <tr>
          <td>30/05/2018</td>
          <td>Pxot Project</td>
          <td>Suporte</td>
          <td class="centered">
            <a class="modal-trigger" href="#modal1">
              <i class="material-icons">remove_red_eye</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>